.header {
  width: 100%;
}

.headerCnt {
  padding: 0 !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.headerBar {
  height: 55px;
  min-height: 55px !important;
  a {
    text-decoration: none;
  }
}

.logoTitle {
  user-select: none;
  padding-left: 10px;
  font-weight: bold !important;
}

.iconBtn {
  padding: 0;
  background: transparent;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
