.playerSection{
  width: 70%;
}

.playerContainer{
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.player{
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  background: black;
}

.commentCanvas{
  position: absolute;
  width: 100%;
  height: 100%;
}

.controlerContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  user-select: none;
}

.controlerLeft, .controlerRight, .controlerCenter{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.controlerLeft{
  justify-content: flex-start;
}

.controlerRight{
  justify-content: flex-end;
}

.controlerCenter{
  justify-content: center;
}

.slash{
  padding-left: 3px;
  padding-right: 3px;
}

.playerVolumeContainer{
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}
