.playerSection{
  width: 65%;
}

.playerContainer{
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.player{
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  background: black;
}

.commentCanvas{
  position: absolute;
  width: 100%;
  height: 100%;
}

.controlerContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  user-select: none;
}

.controlerLeft, .controlerRight, .controlerCenter{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.controlerLeft{
  justify-content: flex-start;
}

.controlerRight{
  justify-content: flex-end;
}

.controlerCenter{
  justify-content: center;
}

.slash{
  padding-left: 3px;
  padding-right: 3px;
}

.playerVolumeContainer{
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.videoMainMeta{
  margin-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.videoTitle{
  font-weight: bold !important;
}

.videoTags{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}

.videoTag{
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  font-size: 12px;
  align-items: center;
  font-weight: bold;
}

.tagLocked{
  border: 2px solid darkgoldenrod;
}

.tagDictionary{
  background-color: darkred;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}
